# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Env
.env
.env.local

# Database
backend/data/*.db
backend/data/*.db-journal
backend/data/*.db-wal

# Логи
*.log
logs/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/extensions.json